# TeX:
*.aux
*.fdb_latexm
*.log
#*.out
*.gz
*.lof
*.lot
*.toc
*.bbl
*.blg
*.fdb_latexmk
/thesis/*.out
*.zip

# Misc:
*.pdf
!/thesis/figures/**
*.so
*.run
/simulation/herwigpp/LHC-MSSM.tex
/simulation/herwigpp/LHC-MSSM.out
*.sublime-project
*.sublime-workspace
*.txt
/thesis/old/**
/simulation/python/old/**
/simulation/pythia/main24
/simulation/herwigpp/test/main